<section class="aboutSection">
    <div class="innerSection">
        <div class="mainArticle">
            <h2>Self-Driven Idea</h2>
            <p>This project is inspired by my exam preparation. After completing several practice exams, I decided to
                challenge myself by creating something practical using the skills I gained in Back-End development with
                the
                Express framework. This password manager is my modern solution to the recurring problem of forgetting
                passwords across 40+ accounts and services.

                I restricted myself to using only Express, HTML, and CSS—no front-end frameworks or vanilla JavaScript
                on
                the client side. The app offers full CRUD functionality, password tracking, and a unique welcome message
                for
                each user. It also supports adding accounts, categories, various authentication methods, middleware
                security, and dynamic owner ID verification to ensure that no one else can access or modify your
                records.
                Features include comprehensive error validation, confirmation prompts before deletion, and concealed
                account
                details that are revealed upon hover.</p>
        </div>
        <div class="authorSubSection">
            <h2>Author</h2>
            <div class="contacts">
                <p>I am a 28-year-old junior full-stack web developer, currently completing formal training in the MERN
                    Stack. I have ambitions to further develop my skills in the C/C++/C# family, as well as PHP and
                    Laravel,
                    while continuing to enhance my expertise in React development.</p>
                    <h3>Contact Information</h3>
                <ul>
                    <li>GitHub: <a target="_blank" href="https://github.com/Ghostrider1996">Ghostrider1996</a></li>
                    <li>Linkedin: <a target="_blank"
                            href="https://www.linkedin.com/in/%D0%B2%D0%B0%D1%81%D0%B8%D0%BB-%D0%BF%D0%B5%D1%82%D0%BA%D0%BE%D0%B2-6b376029a/">Vasil
                            Petkov</a></li>
                    <li>Email: <a target="_blank" href="mailto:yexs1996@gmail.com">Send Email</a></li>

                </ul>
            </div>
        </div>
    </div>
</section>